#contact{
    .contact-form{
        align-items: center;
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 18px;

        input, button{
            display: block;
            margin: 2.8rem auto;
            background: transparent;
            outline: none;
            @include easeOut;
        }

        button{
            color: white;
            border: 2px solid $secondary-color;
            border-radius: 24px;
            padding: 0.8rem 2.4rem;
            font-size: 1rem;
            margin-top: 3rem;

            &:hover{
                background: rgba(255, 255, 255, 0.178);
                transform: scale(1.04)
            }
        }

        input{
            border: none;
            border-bottom: 1px solid $secondary-color;
            color: white;
            width: 200px;
            text-align: center;
            padding-bottom:5px;

            &:focus{
                width: 250px;
            }
        }

        textarea{
            background: transparent;
            color: white;
            border: none;
            outline: none;
            border-bottom: 3px solid $secondary-color;
        }

        input[type="text"], textarea
{
    font-size:16px;
}

    }
}